* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  
  section{
    background-size: cover;
    background-position: center;
    height: 100%;
    flex-grow: 1;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  section:hover{
    flex-grow: 1.5;
  }

  section:nth-child(1){
    background-image: url(./1.jpg);
  }  section:nth-child(2){
    background-image: url(./2.jpg);
  }  section:nth-child(3){
    background-image: url(./3.jpg);
  }  section:nth-child(4){
    background-image: url(./4.jpg);
  }  section:nth-child(5){
    background-image: url(./5.jpg);
  }
}
