* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'poppins';

}


main {
  width: 100%;
  background: linear-gradient(to right bottom, rgb(37, 37, 37), rgb(26, 26, 26));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reels-section {
  background-color: red;
  height: 85%;
  width: 22%;
  min-width: 300px;
  min-height: 530px;
  max-width: 700px;
  max-height: 1000px;
  color: white;
  overflow: hidden;
}

.reels-container {
  height: 100%;
  width: 100%;
  position: relative;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.reels-container::-webkit-scrollbar {
  display: none;
}

.reel {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
  width: 100%;
  position: relative;
}

.reel video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reel-details {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.user-details {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 10px;
}

.user-details h4 {
  font-weight: 600;
}

.follow-btn {
  border: 1px solid white;
  background: transparent;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.userProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.reel-caption {
  height: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 10px;
}

.reel-stats {
  position: absolute;
  right: 3%;
  bottom: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.reel-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 1.2rem;

}

.reel-stats div h6 {
  font-size: 0.7rem;
}