html {
  padding: 0;margin: 0;
  width: 100%;
  height: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body,main {
  width: 100%;
  padding: 0;margin: 0;
  background-color: cadetblue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.winnerTxt{
  color: white;
  font-size:20px;
  font-weight:bold;
}
.box{
  color: white;
  width: 200px;
  height: 200px;
  border: 3px solid black ;
  border-radius: 20px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:40px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 0 20px 0;
}

#btn {
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: medium;
  padding: 10px;
  transition: transform 0.1s ease , box-shadow 0.1s ease;
  box-shadow: 0 5px 0 rgb(35, 35, 35);
}
#btn:active{
  transform: translateY(3px);
  box-shadow: 0 2px 0 rgb(35, 35, 35);
}
