* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 70% 20%;
    
    grid-template-areas:"header header" "aside section" "footer footer";
    /* grid-template-columns: repeat(3, minmax(100px, 200px)) 400px;
    grid-template-rows: repeat(7, minmax(100px, 200px));
    gap: 10px;
    padding: 20px;
    align-content: center;
    justify-content: center; */

/* for equal distribution you can use 1fr , like grid-template-rows: 1fr 1fr 1fr; -> makes 3 equals parts  */

}




/* .box {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    background-color: salmon;
    border: 3px solid black;
} */

header {
    width: 100%;
    /* grid-row: 1;
    grid-column: 1/3; */
    background-color: red;
    grid-area: header;
}

aside {
    width: 100%;
    /* grid-row: 2;
    grid-column: 1; */
    background-color: green;
    grid-area: aside;
}

section {
    width: 100%;
    /* grid-row: 2;
    grid-column: 2; */
    background-color: blue;
    grid-area: section;
}

#footer {
    background-color: black;
    width: 100%;
    /* grid-row: 3;
    grid-column: 1/3; */
    grid-area: footer;
}