@import "description-div";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas: "section1 section2 section2 section2" "section1 section3 section4 section5";
  grid-gap: 20px;
  padding: 20px;

  section {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  section:nth-child(1) {
    background-image: url(./assets/1.jpg);
    grid-area: section1;
    div {
      padding-left: 20px;
      @include div(70px, 15px);
    }
  }
  section:nth-child(2) {
    background-image: url(./assets/2.jpg);
    grid-area: section2;
    div {
      padding-left: 20px;
      @include div(70px, 15px);
    }
  }
  section:nth-child(3) {
    background-image: url(./assets/3.jpg);
    grid-area: section3;
    div {
      padding-left: 20px;
      @include div(70px, 15px);
    }
  }
  section:nth-child(4) {
    background-image: url(./assets/4.jpg);
    grid-area: section4;
    div {
      padding-left: 20px;
      @include div(70px, 15px);
    }
  }
  section:nth-child(5) {
    background-image: url(./assets/5.jpg);
    grid-area: section5;
    div {
      padding-left: 20px;
      @include div(70px, 15px);
    }
  }
  section:hover div {
    bottom: 0%;
  }
}
