* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'poppins';
}

body,
main {
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: black;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.userName {
  font-size: 1.5rem;
  white-space: nowrap;
  margin-top: 10px;
}

.userProfession {
  font-size: 1rem;
  color: red;
  font-weight: 500;
}

.userDescription {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 5px;
}