* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  font-family: "poppins";

}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  background-color: #222;
  cursor: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-no {
  height: 40px;
  position: fixed;
  opacity: 0;
  /* transform: translate(-50%, -50%); */
  transition: opacity 0.2s ease;
  z-index: 100;
}

.cursor-yes {
  height: 40px;
  position: fixed;
  opacity: 0;
  /* transform: translate(-50%, -50%); */
  z-index: 100;
  transition: opacity 0.2s ease;
}

/* pointer-events: none; makes the image "invisible" to mouse events, so clicks pass through to the elements below (your piano keys, buttons, etc). */
.cursor-no,
.cursor-yes {
  pointer-events: none;
}

.piano {
  width: 70%;
  height: 50%;
  border-radius: 20px;
  padding: 1rem;
  background: linear-gradient(180deg,
      #1b1b1b,
      #0e0e0e);
  border: 2px solid #000;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
  color: #bdbdbd;
}



.piano-head {
  width: 100%;
  height: 20%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.piano-head span {
  width: 50%;
  font-size: 1.5rem;

}

.piano-controls {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.volume {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.volume label {
  font-size: 1rem;
}

#volume-slider {
  appearance: none;
  height: 0.3rem;
  background: transparent;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  outline: none;
  background: linear-gradient(to right,
      #b8b8b8 50%,
      #333 50%);
}

#volume-slider::-webkit-slider-thumb {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #b8b8b8;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0%, 1%);
  appearance: none;
}

.hide-keys-section {
  height: 100%;
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-keys-section span {
  font-size: 1rem;
}

#hide-keys-input {
  width: 0;
  visibility: none;
}

.hide-keys-btn {
  display: inline-block;
  width: 3rem;
  height: 1rem;
  background: #b8b8b8;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.hide-keys-btn::after {
  content: "";
  position: absolute;
  left: 2px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;

}


#hide-keys-input:checked+.hide-keys-btn {
  background: #888;
}

#hide-keys-input:checked+.hide-keys-btn::after {
  transform: translateX(2rem);
  margin-left: 2px;
}

.piano-keys-section {
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

}

.keys {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 1.25rem;
  border-radius: 0 0 10px 10px;
  /* transform: translateY(-5%) */
  text-transform: capitalize;
  /* cursor: pointer; */
}

.white-keys {
  flex: 1;
  background-color: white;
  border: 1px solid #000;
  height: 100%;
  background: linear-gradient(to bottom,
      #ffffff,
      #e9e9e9);
  border: 1px solid #cfcfcf;
  box-shadow:
    inset 0 -4px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease;
}

.white-keys span {
  color: #333333;
}

.white-keys:active,
.active {
  background: linear-gradient(to bottom,
      #dcdcdc,
      #cfcfcf);
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.25);
}

.black-keys {
  width: 6.25%;
  height: 70%;
  background-color: black;
  position: absolute;
  top: -6px;
  background: linear-gradient(to bottom,
      #2a2a2a,
      #000000);
  box-shadow:
    inset 0 -4px 6px rgba(255, 255, 255, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.1s ease;

}

.black-keys:active,
.black-keys.active {
  background: linear-gradient(to bottom,
      #111111,
      #000000);
  box-shadow:
    inset 0 3px 6px rgba(0, 0, 0, 0.9);
}

.key-w {
  left: 9.375%;
}

.key-e {
  left: 21.875%;
}

.key-t {
  left: 46.875%;
}

.key-y {
  left: 59.375%;
}

.key-u {
  left: 71.875%;
}

#hide-keys-input:checked~.keys span {
  opacity: 0;
  visibility: hidden;
}


@media (max-width: 600px) and (orientation: portrait) {
  .piano {
    transform: rotate(90deg);
    height: 30%;
    width: 200%;
  }
}
@media (max-width: 1000px) and (orientation: portrait) {
  .piano {
    height: 30%;
    width: 80%;
  }
}