html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'poppins';
}

body,
main {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: cadetblue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 450px;
  text-align: center;
}

.card p {
  font-size: 20px;
  font-weight: 600;
}

.card p span {
  color: green;
}

.loading-outer {
  height: 25px;
  background-color: gainsboro;
  border-radius: 50px;
}

.loading-inner {
  height: 25px;
  background-color: rgb(34, 203, 34);
  border-radius: 50px;
  width: 0;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
margin-top: 20px;
}
.bottom h2{
  font-weight: 400;
  font-size: 20px;

}
.download-btn{
  background-color: rgb(34, 203, 34);
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.download-btn:active{
  scale: 0.95;
}